<link rel="stylesheet" href="/css/client.css" />

<div class="container-md" style="min-width: 90%;">
  <nav
    class="navbar navbar-expand-lg bg-light alert alert-dark shadow-lg p-2 mb-2 mt-2 bg-body rounded"
  >
    <div class="container-fluid">
      <div class="navbar-brand"><div>
          <img
            class="avatar shadow-lg p-2"
            src="https://img.icons8.com/metro/100/null/gender-neutral-user.png"
            alt="avatar"
          />
        </div></div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
        </div>
        <div class="d-flex" role="search">
          <h2>Con cho nau</h2>
        </div>
      </div>
    </div>
  </nav>
</div>