<link rel="stylesheet" href="/css/app.css" />

<!-- Header -->
<section id="header">
  <div class="header container">
    <div class="nav-bar">
      <div class="brand">
        <a href="#hero">
          <h1><span>H</span>eal<span>U</span></h1>
        </a>
      </div>
      <div class="nav-list">
        <div class="hamburger">
          <div class="bar"></div>
        </div>
        <ul>
          <li><a href="#hero" data-after="Home">Trang chủ</a></li>
          <li><a href="#services" data-after="Service">Dịch vụ</a></li>
          <li><a href="#projects" data-after="Projects">Đội ngũ</a></li>
          <li><a href="#contact" data-after="Contact">Liên hệ</a></li>
          <li><a
              class="makeAppointment"
              href="#makeAppointment"
              data-after="makeAppointment"
            >Đặt hẹn</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End Header -->

<!-- Hero Section  -->
<section id="hero">
  <div class="hero container">
    <div>
      <h1>Xin chào, <span></span></h1>
      <h1>Heal U, bảo vệ gia đình bạn <span></span></h1>
      <h1>Sức khỏe của bạn là hạnh phúc của chúng tô! <span></span></h1>
      <a href="/login" type="button" class="cta">Đăng nhập</a>
      <a
        href="#makeAppointment"
        type="button"
        class="cta makeAppointment"
        data-after="makeAppointment"
      >Đặt hẹn</a>
    </div>
  </div>
</section>
<!-- End Hero Section  -->

<!-- Service Section -->
<section id="services">
  <div class="services container">
    <div class="service-top">
      <h1 class="section-title">Dịch <span>V</span>ụ</h1>
      <h2>Chuỗi bệnh viện đạt chuẩn quốc tế với đội ngũ y bác sĩ đứng đầu cả
        nước. Heal U luôn sẵn sàng phục vụ quý khách 24h/24h luôn có mặt khi cần
        thiết.</h2>
    </div>
    <div class="service-bottom">
      <div class="service-item" id="item1">
        <div class="icon"><img
            src="https://img.icons8.com/ios/100/null/clock--v1.png"
          /></div>
        <h2>THỜI GIAN LINH ĐỘNG</h2>
        <p>Luôn có đội ngũ bác sĩ sắn sàng 24h/24h để xử lí những ca bệnh nguy
          cấp.
        </p>
      </div>
      <div class="service-item" id="item2">
        <div class="icon"><img
            src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/64/null/external-instruments-biochemistry-and-medicine-healthcare-flatart-icons-solid-flatarticons.png"
          /></div>
        <h2>TRANG THIẾT BỊ TỐI TÂN</h2>
        <p>Heal U sở hữu hệ thống máy móc, trang thiết bị tối tân nhất thế giới
          hiện nay như máy nội soi, máy siêu âm,...</p>
      </div>
      <div class="service-item" id="item3">
        <div class="icon"><img
            src="https://img.icons8.com/external-filled-outline-geotatah/64/null/external-professional-the-global-war-for-talent-filled-outline-filled-outline-geotatah.png"
          /></div>
        <h2>LÀM VIỆC CHUYÊN NGHIỆP</h2>
        <p>Đội ngũ bác sĩ ở Heal U được chọn lọc và đào tạo bài bản nên tác
          phong làm việc nhanh nhẹn, thái dộ tích cực.</p>
      </div>
      <div class="service-item" id="item4">
        <div class="icon"><img
            src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/66/null/external-Reasonable-Price-real-estate-smashingstocks-flat-smashing-stocks.png"
          /></div>
        <h2>GÍA CẢ HỢP LÍ</h2>
        <p>Tuy chất lượng dịch vụ tốt và trang thiết bị cực kì tối tân, nhưng
          giá cả ở Heal U rất là phù hợp với túi tiền của mọi người.</p>
      </div>

    </div>
  </div>
</section>
<!-- End Service Section -->

<!-- Projects Section -->
<section id="projects">
  <div class="projects container">
    <div class="projects-header">
      <h1 class="section-title">Dội ngũ <span>nhân viên</span></h1>
    </div>
    <div class="all-projects">
      <div class="project-item">
        <div class="project-info">
          <h1><b><i>PGS. TS. Trần Thị Thanh Hương</i></b></h1>
          <h2><b>Phụ trách viện ung thư quốc gia. Trưởng phòng HTQT & NCKH</b></h2>
        </div>
        <div class="project-img">
          <img
            src="https://benhvienk.vn/mediacenter/media/images/1601/providers/ava/s400_400/9a409006-2296-4465-8852-16d266c8ab8f-1582611950.jpeg"
            alt="img"
            img
          />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1><b><i>PGS. TS. Tạ Văn Tờ </i></b></h1>
          <h2><b>Giám đốc trung tâm giải phẫu bệnh - sinh học phân tử</b></h2>
        </div>
        <div class="project-img">
          <img
            src="https://benhvienk.vn/mediacenter/media/images/1601/providers/ava/s400_400/pgsts-ta-van-to---gd-ttgpb-shpt-trang-1582014415.jpg"
            alt="img"
          />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1><B><i>TS. BS. Đỗ Anh Tú</i></B></h1>
          <h2><b>Phụ trách cơ sở tam hiệp, phó giám đốc chuyên môn, trưởng khoa
              nội tam hiệp.</b></h2>
        </div>
        <div class="project-img">
          <img
            src="https://benhvienk.vn/mediacenter/media/images/1601/providers/ava/s400_400/tsbs-do-anh-tu-truong-khoa-noi-3-t-1582014515.jpg"
            alt="img"
          />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1><b><i>PGS. TS. Phạm Văn Bình</i></b></h1>
          <h2><b>Phó giám đốc chuyên môn bệnh viện Heal U, giám đốc trung tâm
              phẫu thuật, nội soi robot. Trưởng khoa ngoại bụng.</b></h2>
        </div>
        <div class="project-img">
          <img
            src="https://benhvienk.vn/mediacenter/media/images/1601/providers/ava/s400_400/chu-binh-1582017788.png"
            alt="img"
          />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1><b><i>GS. TS. Lê Văn Quảng</i></b></h1>
          <h2><b>Giám đốc bệnh viện, phó trưởng bộ môn ung thư Đại học Y Hà Nội.
            </b></h2>
        </div>
        <div class="project-img">
          <img
            src="https://benhvienk.vn/mediacenter/media/images/1601/providers/ava/s400_400/gd-quang-1644390692.jpg"
            alt="img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Projects Section -->

<!-- Make Appointment Section -->
<section id="makeAppointmentSection">
  <div>
    <div>
      <h1 class="section-title"><span>Đặt</span>Lịch hẹn</h1>
    </div>
    <div class="MAcontainer">
      <div class="card mt-5 MAitem shadow-lg">
        <div class="row g-0">
          <div class="col-md-5">
            <img
              src="https://cdn.pixabay.com/photo/2016/10/23/17/06/calendar-1763587__340.png"
              class="img-fluid rounded-start"
              alt="appoinment"
              style="height: 420px;"
            />
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h1>ĐẶT LỊCH HẸN KHÁM</h1>
              <div class="row">
                <div class="form-floating mb-3 mt-3">
                  <input
                    type="text"
                    class="form-control name_"
                    id="floatingInput"
                    placeholder="cc"
                    style="height: 5rem; font-size: 15px;"
                  />
                  <label for="floatingInput" style="font-size: 15px;">Tên của
                    bạn</label>
                </div>

                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control email_"
                    id="floatingInput"
                    placeholder="cc"
                    style="height: 5rem; font-size: 15px;"
                  />
                  <label
                    for="floatingInput"
                    style="font-size: 15px;"
                  >Email</label>
                </div>

                <div class="form-floating mb-3 col-md-8">
                  <input
                    type="text"
                    class="form-control sdt_"
                    id="floatingInput"
                    placeholder="cc"
                    style="height: 5rem; font-size: 15px;"
                  />
                  <label for="floatingInput" style="font-size: 15px;">Số điện
                    thoại</label>
                </div>

                <div class="mb-3 col-md-4">
                  <input
                    type="date"
                    class="form-control"
                    id="date"
                    style="height: 5rem; font-size: 15px;"
                  />
                </div>

                <div class="form-floating mb-2">
                  <textarea
                    class="form-control note"
                    placeholder="Leave a comment here"
                    id="floatingTextarea2"
                    style="height: 100px; font-size: 15px;"
                  ></textarea>
                  <label for="floatingTextarea2" style="font-size: 15px;">Ghi
                    chú</label>
                </div>
                <h4 class="notification text-danger">Note: Bạn vui lòng nhập đầy
                  đủ thông tin để được hỗ trợ tốt nhất!</h4>
                <button
                  type="button"
                  class="btn btn-outline-success mt-3"
                  id="makeA"
                >Đặt lịch ngay</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Appointment Section -->

<!-- Contact Section -->
<section id="contact">
  <div class="contact container">
    <div>
      <h1 class="section-title">Liên <span>Hệ</span></h1>
    </div>
    <div class="contact-items">
      <div class="contact-item">
        <div class="icon"><img
            src="https://img.icons8.com/bubbles/100/000000/phone.png"
          /></div>
        <div class="contact-info">
          <h1>Phone</h1>
          <h2>0395 331 942</h2>
          <h2> 0398 890 029 </h2>
        </div>
      </div>
      <div class="contact-item">
        <div class="icon"><img
            src="https://img.icons8.com/bubbles/100/000000/new-post.png"
          /></div>
        <div class="contact-info">
          <h1>Email</h1>
          <h2>info@gmail.com</h2>
          <h2>abcd@gmail.com</h2>
        </div>
      </div>
      <div class="contact-item">
        <div class="icon"><img
            src="https://img.icons8.com/bubbles/100/000000/map-marker.png"
          /></div>
        <div class="contact-info">
          <h1>Address</h1>
          <h2>107/2/7 Phạm Văn Hai, phường 3, quận Tân Bình, TP.Hồ Chí Minh
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->

<!-- Footer -->
<section id="footer">
  <div class="footer container">
    <div class="brand">
      <h1><span>H</span>eal <span>U</span></h1>
    </div>
    <h2>Liện hệ với chúng tôi qua</h2>
    <div class="social-icon">
      <div class="social-item">
        <a href="https://www.facebook.com/"><img
            src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"
          /></a>
      </div>
      <div class="social-item">
        <a href="https://www.instagram.com/"><img
            src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"
          /></a>
      </div>
      <div class="social-item">
        <a href="https://www.behance.net/"><img
            src="https://img.icons8.com/bubbles/100/000000/behance.png"
          /></a>
      </div>
    </div>
    <p>Tổng công ty Heal U. 31/12/2022</p>
    <p>Copyright©️2022 - Heal U</p>
  </div>
</section>
<!-- End Footer -->

<script src="/js/app.js"></script>