<!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>H</span>appy<span>H</span>ome</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Trang chủ</a></li>
            <li><a href="#services" data-after="Service">Dịch vụ</a></li>
            <li><a href="#projects" data-after="Projects">Cửa hàng</a></li>
            <li><a href="#about" data-after="About">Giới thiệu</a></li>
            <li><a href="#contact" data-after="Contact">Liên hệ</a></li>
            <li><a href="#header" data-after="Contact">Giỏ hàng</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Xin chào, <span></span></h1>
        <h1>Happy Home sẵn sàng phục vụ <span></span></h1>
        <h1>Sự hài lòng của bạn là niềm vui của chúng tôi! <span></span></h1>
        <a href="Login.html" type="button" class="cta">Đăng nhập</a>
        <a href="Register.html" type="button" class="cta">Đăng ký</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">Dịch <span>V</span>ụ</h1>
        <h2>Điểm đến tuyệt vời cho những tay thợ chuyên nghiệp, bán chuyên. Chúng tôi đáp ứng mọi nhu cầu công trình
          từ sửa chữa nhà cửa đơn giản đến thi công công trường phức tạp. 2 cửa hàng của chúng tôi nằm tại các vị trí
          đắc địa, dụng cụ phong phú, dịch vụ chu đáo tận tình.</h2>
      </div>
      <div class="service-bottom">
        <div class="service-item" id="item1">
          <div class="icon"><img src="https://img.icons8.com/clouds/500/000000/toolbox.png" /></div>
          <h2>ĐẦY ĐỦ MẶT HÀNG</h2>
          <p>Happy Home sở hữu một kho lưu trữ đủ mọi sản phẩm thiết bị xây dựng, nội thất, trang thiết bị điện và vườn.
          </p>
        </div>
        <div class="service-item" id="item2">
          <div class="icon"><img src="https://img.icons8.com/clouds/100/000000/watches-front-view--v1.png" /></div>
          <h2>TIẾT KIỆM THỜI GIAN</h2>
          <p>Các gian hàng của Happy Home được thiết kế khoa học, theo ngành hàng và công dụng. Thoải mái cho việc mua
            sắm.</p>
        </div>
        <div class="service-item" id="item3">
          <div class="icon"><img src="https://img.icons8.com/clouds/100/000000/handshake.png" /></div>
          <h2>DỤNG CỤ CHÍNH HÃNG</h2>
          <p>Happy Home chỉ bán sản phẩm dụng cụ chính hãng, nói không với hàng nhái, kém chất lượng. Sẵn sàng bảo hành
            1 đổi 1.</p>
        </div>
        <div class="service-item" id="item4">
          <div class="icon"><img src="https://img.icons8.com/clouds/100/000000/chat.png" /></div>
          <h2>PHỤC VỤ CHUYÊN NGHIỆP</h2>
          <p>Nhân viên CSKH chuyên nghiệp, sẵn sàng hỗ trợ và phục vụ khách hàng tận tình.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Cửa <span>Hàng</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1><b><i>Vật liệu xây dựng</i></b></h1>
            <h2><b>Happy Home cung cấp đầy đủ các trang thiết bị, nguyên vật liệu cho 1 ngôi nhà hoàn chỉnh.</b></h2></br>
            <p><b><i>VẬT LIỆU BAO GỒM: </i></b></p>
            <ul>
              <li><h2>Vật liệu xây dựng cát, xi măng</h2></li>
              <li><h2>Sắt, thép</h2></li>
              <li><h2>Vật liệu xây dựng gạch, ngói, đá</h2></li>
              <li><h2>...</h2></li>
            </ul>
          </div>
          <div class="project-img">
            <img src="/image/homepage/vlxd.jpg" alt="img" img>
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1><b><i>Dụng cụ sữa chữa đồ gia dụng</i></b></h1>
            <h2><b>Happy Home có thể cung cấp mọi vật tư sữa chữa đồ gia dụng của quý khách.</b></h2>
            <p><b><i>BAO GỒM: </i></b></p>
            <ul>
              <li><h2>Dụng cụ, thiết bị sữa chữa máy lọc nước</h2></li>
              <li><h2>Dụng cụ, thiết bị sữa chữa bóng đèn</h2></li>
              <li><h2>Dụng cụ, thiết bị sữa chữa máy hút bụi</h2></li>
              <li><h2>Dụng cụ, thiết bị sữa chữa các loại quạt. </h2></li>
              <li><h2>...</h2></li>
            </ul>
          </div>
          <div class="project-img">
            <img src="/image/homepage/tivi.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1><B><i>Sữa chữa dụng cụ nhà bếp</i></B></h1>
            <h2><b>Dụng cụ nhà bếp của bạn bị hư, cứ để Happy home lo !!</b></h2>
            <p><b><i>BAO GỒM: </i></b></p>
            <ul>
              <li><h2>Dụng cụ, thiết bị sữa chữa các loại bếp ga</h2></li>
              <li><h2>Dụng cụ, thiết bị sữa chữa bếp từ, bếp hồng ngoại,...</h2></li>
              <li><h2>Dụng cụ, thiết bị sữa chữa ấm siêu tốc.</h2></li>
              <li><h2>Dụng cụ, thiết bị sữa chữa máy xay sinh tố. </h2></li>
              <li><h2>...</h2></li>
            </ul>
          </div>
          <div class="project-img">
            <img src="/image/homepage/kitchen.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1><b><i>Dụng cụ sữa chữa điện tử</i></b></h1>
            <h2><b>Happy home có thể cung cấp mọi vật tư sữa chữa các cái loại đồ điện tử, bạn cứ yên tâm nhé!!</b></h2>
            <p><b><i>BAO GỒM: </i></b></p>
            <ul>
              <li><h2>Dụng cụ, thiết bị sữa chữa các loại TV(LED, LCD,..)</h2></li>
              <li><h2>Dụng cụ, thiết bị sữa chữa âm ly, loa  </h2></li>
              <li><h2>Dụng cụ, thiết bị sữa chữa các bo mạch đồ điện tử</h2></li>
              <li><h2>...</h2></li>
            </ul>
          </div>
          <div class="project-img">
            <img src="/image/homepage/vllv.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1><b><i>Dụng cụ sữa chữa điện lạnh</i></b></h1>
            <h2><b>Thiết bị điện lạnh của bạn bị hư, cứ để Happy home lo !!</b></h2>
            <p><b><i>BAO GỒM: </i></b></p>
            <ul>
              <li><h2>Dụng cụ, thiết bị sữa chữa điều hòa </h2></li>
              <li><h2>Dụng cụ, thiết bị sữa chữa tủ lạnh </h2></li>
              <li><h2>Dụng cụ, thiết bị sữa chữa máy giặt</h2></li>
              <li><h2>Dụng cụ, thiết bị sữa chữa bình nóng lạnh </h2></li>
              <li><h2>...</h2></li>
            </ul>
          </div>
          <div class="project-img">
            <img src="/image/homepage/fix.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">GIỚI <span>THIỆU</span></h1>
        <h2>Tổng công ty Happy Home</h2>
        <p>Là chuỗi tập đoàn hàng đầu Việt Nam về xây dựng, phát triển bền vững không gian sống của khác hàng. Đạt được
          các thành tựu lớn về xây dựng nói riêng và phát triển xã hội nói chung. Đang là công ty đi đầu trong chiến
          dịch không gian sống "Xanh - sạch - đẹp - tiện nghi - thông minh". Công ty chúng tôi lấy chất lượng lên hàng
          đầu, lấy sự hài lòng của khách hàng là mục tiêu làm việc của toàn thể nhân viên.</p>
        <h2>Ban lãnh đạo công ty</h2>
        <p>CO-fouder: Ông. Phạm Quang Hợp <br> CEO: Ông. Lê Nguyên Sinh </p>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div>
        <h1 class="section-title">Liên <span>Hệ</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>0395 331 942</h2>
            <h2> 0398 890 029 </h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>info@gmail.com</h2>
            <h2>abcd@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>107/2/7 Phạm Văn Hai, phường 3, quận Tân Bình, TP.Hồ Chí Minh
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>H</span>appy <span>H</span>ome</h1>
      </div>
      <h2>Liện hệ với chúng tôi qua</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://www.facebook.com/profile.php?id=100055915911121"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/nguyensinh.0104/"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.behance.net/"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <p>Tổng công ty Happy Home. 4/14/2022</p>
    </div>
  </section>
  <!-- End Footer -->