<link rel="stylesheet" href="/css/login.css" />

<h1>ĐĂNG NHẬP TÀI KHOẢN HEAL U</h1>
<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form id="form-login" method="POST">
      <h3>ĐĂNG NHẬP</h3>
      <input type="email" placeholder="Email" id="email" name="email" />
      <input
        type="password"
        placeholder="Password"
        id="password"
        name="password"
      />
      <select id="object" class="form-select mb-4" aria-label="Default select example">
        <option value="">Chọn đối tượng đăng nhập</option>
        <option value="employee">Nhân viên của bệnh viện</option>
        <option value="client">Khách hàng</option>
        <option value="admin">Admin</option>
      </select>
      <button id="login">Đăng Nhập</button>
      <p id="notification" class="text-danger">{{notification}}</p>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>CHÀO MỪNG BẠN ĐẾN VỚI HEAL U</h1>
        <a class="btn-primary" href="/" role="button" style="color: black;">👉Quay
          trở lại trang chủ</a>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>