<!-- Modal Add Client-->
<div
  class="modal fade"
  id="editPositionModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="editPositionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editPositionModalLabel">Đổi vị trí làm
          việc của nhân viên.</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      {{! đây là phần body }}
      <div class="modal-body">
        <form id="form" class="row">

          <div class="mb-3 col-md-6">
            <label for="editDepartment" class="form-label">Khoa</label>
            <select
              class="form-select"
              name="editDepartment"
              id="editDepartment"
            >
              <option value="Khoa Nội">Khoa Nội</option>
              <option value="Khoa Ngoại">Khoa Ngoại</option>
              <option value="Khoa Phụ sản">Khoa Phụ sản</option>
              <option value="Khoa Nhi">Khoa Nhi</option>
              <option value="Khoa Truyền nhiễm">Khoa Truyền nhiễm</option>
              <option value="Khoa Cấp cứu">Khoa Cấp cứu</option>
              <option value="Khoa xét nghiệm">Khoa xét nghiệm</option>
            </select>
          </div>

          <div class="mb-3 col-md-6">
            <label for="editPosition" class="form-label">Chức vụ</label>
            <select class="form-select" name="editPosition" id="editPosition">
              <option value="Trưởng khoa">Trưởng khoa</option>
              <option value="Phó khoa">Phó khoa</option>
              <option value="Bác sĩ">Bác sĩ</option>
              <option value="Y tá">Y tá</option>
            </select>
          </div>

          <h5 id="" class="notification text-danger">{{notification}}</h5>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Hủy</button>
        <button type="button" class="btn btn-primary" id="changePosition">Xác nhận</button>
      </div>
    </div>
  </div>
</div>