<!-- Modal -->
<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmModalLabel">Đăng xuất</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="confirmModalBody">
        Bạn có chắc muốn đăng xuất không?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Không</button>
        <a
          type="button"
          class="btn btn-danger confirm"
          id="cfDisableEmployee"
        >Chắc chắn</a>
        <a
          type="button"
          class="btn btn-danger confirm"
          id="cfDisableClient"
        >Chắc chắn</a>
        <a
          type="button"
          class="btn btn-danger confirm"
          id="cfRemoveService"
        >Chắc chắn</a>
      </div>
    </div>
  </div>
</div>