<!-- Footer -->
<div class="alert-primary" role="alert" style="height: 6.5rem;">
        <div class="col-1">
            <h3> About </h3>
            <br>
            <p>VNUHCM-University of Science</p>
            <p>Faculty of Information Technology</p>
            <p>20_3 - Group 13</p>
        </div>
          
        <div class="col-2">
            <h3> Contact </h3>
            <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
          
      </div>
</div>