.avatar {
  border-radius: 50%;
  /* width: 8rem; */
}

nav {
  border-radius: 10%;
}

li {
  list-style: none;
}

.displayNone {
  display: none;
}
/*
.noneDisplay {
  display: none;
}
 */
#makeAppointment {
  float: right;
}

#changePass {
  position: absolute;
  margin-left: 80px;
}

/* .gr1 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
 */
