*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

.alert-primary{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

.alert-primary div{
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}